@use './root.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: root.$typeography-primary;
    font-family: system-ui, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

input::placeholder,
button {
    font-family: inherit;
}

body {
    background: linear-gradient(root.$primary-dark, root.$secondary-dark, root.$accent-purple);
    min-height: 100vh;
}

main {
    padding-inline: 1.5rem;
    margin-top: 2rem;
}