$primary-dark: #10203D;
$secondary-dark: #362A84;
$accent-purple: #8939a9;
$accent-yellow: #DDB130;
$transparent-white: #ffffff16;

$typeography-primary: #FFF;
$typeography-secondary: #bababa;
$typeography-yellow: #DDB130;
$typeography-purple: #362A84;