@use '../placeholders/root.scss';

.searched-cities {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searched-city {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    background-color: #ffffff16;
    padding: .5rem 1rem;
    border-radius: .5rem;

    &__name {
        font-weight: 500;
    }

    &__text {
        font-weight: 300;
    }
}